{% extends '_base.wo.html.twig' %} {% block content %}

<div class="ui inverted vertical masthead center aligned segment" style="background: url('assets/images/hero.jpg')">
    <div class="ui text container" style="padding: 100px 0">
        <h1 class="ui inverted header">Nouvelle communauté de parieurs</h1>
        <h2>Construisons</h2>
        <a href='#' class="ui huge primary button">En savoir plus <i class="right arrow icon"></i></a>
    </div>
</div>

<h2><i class="receipt icon"></i>Découvrir les derniers pronostics</h2>

<div class="ui four doubling cards">
    {% for i in 1..4 %}
    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <a href="?pronostic" class="ui inverted button">Voir le prono</a>
                    </div>
                </div>
            </div>
            <img src="https://fakeimg.pl/440x320/282828/eae0d0/?text=pic {{ i }}">
        </div>
        <div class="content">
            <a class="header">Marseille vs Brest</a>
            <div class="meta">
                <span class="date">Aujourd'hui à 20h45</span>
            </div>
        </div>
        <div class="extra content">
            <span class="left floated like">
        <i class="comment icon"></i>
        15
        </span>
            <span class="right floated star">
        <img class="avatar mini ui image" src="https://www.gravatar.com/avatar/db545d117833834faba79cacf4869d04?size=200">
        {# <i class="user icon"></i> #}
        Thuvipan
        </span>
        </div>
    </div>
    {% endfor %}
</div>

<br>
<br> {% set medals = [ 'yellow', 'grey', 'brown' ] %}

<div class="ui  equal width divided grid stackable">
    <div class="row">

        <div class="column">
            <h3><i class="cubes icon"></i>Classement pronostiqueurs</h3>
            <table class="ui very basic celled compact table unstackable ">
                <thead>
                    <tr>
                        <th class="center aligned">#</th>
                        <th class="center aligned">Tipsters</th>
                        <th class="center aligned">Réus.</th>
                        <th class="center aligned">ROI</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipster in 1..5 %}
                    <tr>
                        <td class="center aligned">
                            <span class="ui {{ medals[loop.index0] }} circular label">{{ loop.index }}</span>
                        </td>
                        <td>
                            {# <img class="ui avatar image" src="https://www.gravatar.com/avatar/{{ tipster.avatar }}?size=200&amp;d={{ absolute_url(asset('images/avatars/default.png')) | url_encode }}"> #}
                            <a href="#">Username</a>
                        </td>
                        <td class="center aligned">{{ random(120,350)/100 | number_format(0, ',', ' ') }}%</td>
                        <td class="center aligned">{{ random(120,350)/100 | number_format(0, ',', ' ') }}%</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="?tipsters_ranking" class="ui left floated tiny button">Suite du classement</a>
            <div style="clear:both"></div>
        </div>


        <div class="column">
            <h3><i class="splotch icon"></i>Meilleurs bookmakers</h3>
            <table class="ui compact very basic celled table unstackable">
                <tbody>
                    <tr>
                        <td class="center aligned"><img src="./assets/images/bookmakers/parionssport.png"></td>
                        <td class="center aligned"><img src="./assets/images/bookmakers/winamax.png"></td>
                    </tr>
                    <tr>
                        <td class="center aligned"><img src="./assets/images/bookmakers/betclic.png"></td>
                        <td class="center aligned"><img src="./assets/images/bookmakers/unibet.png"></td>
                    </tr>
                    <tr>
                        <td class="center aligned"><img src="./assets/images/bookmakers/zebet.png"></td>
                        <td class="center aligned"><img src="./assets/images/bookmakers/pmu.png"></td>
                    </tr>
                </tbody>
            </table>
            <a href="./?bookmakers_benchmark" class="ui left floated tiny button">Suite du classement</a>
            <div style="clear:both"></div>
        </div>


        <div class="column">
            <h3><i class="trophy icon"></i>Gagnant du mois dernier</h3>
            <div class="ui cards">
                <div class="card" style="width:100%">
                    <div class="content">
                        <img class="right floated rounded mini ui image" src="https://www.gravatar.com/avatar/db545d117833834faba79cacf4869d04?size=200&amp;d=http%3A%2F%2Flocalhost%3A8000%2Fimages%2Favatars%2Fdefault.png">
                        <div class="header">
                            Sebastien
                        </div>
                        <div class="meta">
                            Fondateur des parieurs.com
                        </div>
                        <div class="description">
                            S&#039;est mis aux paris sportifs il y a 5/6 ans, avec plus ou moins de réussite et un semblant de stratégie. Avec le temps, tout ça s&#039;est affiné pour devenir un parieur gagnant.
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
								<i class="external alternate icon"></i>
								<a href="#" target="_blank">Son compte Twitter</a>
							</span>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

{% endblock %}