{% extends '_base.wo.html.twig' %}

{% block content %}

<div class="ui grid">
	<div class="twelve wide column">
		<h1>Football</h1>
	</div>
	<div class="right aligned four wide column">
		<a href="/s/football/history">
			<h1>
				<i class="history icon tooltip" data-content="Consulter les matchs passés" data-position="left center" data-variation="wide small"></i>
			</h1>
		</a>
	</div>
</div>


<table class="ui compact table small unstackable">
	<thead>
		<tr>
			<th colspan="2" class="six wide">
				<i class="fr flag"></i>Ligue 1 Conforama</th>
			<th class="center aligned">1</th>
			<th class="center aligned">N</th>
			<th class="center aligned">2</th>
			<th></th>
			<th class="center aligned">
				<div class="ui label">MT</div>
			</th>
			<th class="center aligned">1</th>
			<th class="center aligned">N</th>
			<th class="center aligned">2</th>
			<th></th>
			<th class="center aligned">
				<i class="receipt icon"></i>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="one wide">18/10</td>
			<td>
				<a href="./?match=36">Nice vs. Paris SG</a>
			</td>
			<td class="center aligned">6.75</td>
			<td class="center aligned">4.60</td>
			<td class="center aligned">1.40</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=32">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=32">Lyon vs. Dijon</a>
			</td>
			<td class="center aligned">1.30</td>
			<td class="center aligned">5.25</td>
			<td class="center aligned">7.75</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=30">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=30">Angers vs. Brest</a>
			</td>
			<td class="center aligned">1.65</td>
			<td class="center aligned">3.55</td>
			<td class="center aligned">5.25</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=31">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=31">Metz vs. Nantes</a>
			</td>
			<td class="center aligned">2.75</td>
			<td class="center aligned">2.95</td>
			<td class="center aligned">2.70</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=35">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=35">Nîmes vs. Amiens</a>
			</td>
			<td class="center aligned">2.00</td>
			<td class="center aligned">3.30</td>
			<td class="center aligned">3.60</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=37">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=37">Reims vs. Montpellier</a>
			</td>
			<td class="center aligned">2.15</td>
			<td class="center aligned">2.95</td>
			<td class="center aligned">3.60</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=29">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">19/10</td>
			<td>
				<a href="./?match=29">Toulouse vs. Lille</a>
			</td>
			<td class="center aligned">3.40</td>
			<td class="center aligned">3.25</td>
			<td class="center aligned">2.10</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=28">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">20/10</td>
			<td>
				<a href="./?match=28">Bordeaux vs. St Etienne</a>
			</td>
			<td class="center aligned">2.25</td>
			<td class="center aligned">3.10</td>
			<td class="center aligned">3.15</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=34">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">20/10</td>
			<td>
				<a href="./?match=34">Monaco vs. Rennes</a>
			</td>
			<td class="center aligned">1.80</td>
			<td class="center aligned">3.50</td>
			<td class="center aligned">4.15</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=33">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">20/10</td>
			<td>
				<a href="./?match=33">Marseille vs. Strasbourg</a>
			</td>
			<td class="center aligned">1.85</td>
			<td class="center aligned">3.35</td>
			<td class="center aligned">4.25</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=43">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">25/10</td>
			<td>
				<a href="./?match=43">Nantes vs. Monaco</a>
			</td>
			<td class="center aligned">2.80</td>
			<td class="center aligned">3.20</td>
			<td class="center aligned">2.40</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=45">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=45">Lille vs. Bordeaux</a>
			</td>
			<td class="center aligned">1.75</td>
			<td class="center aligned">3.30</td>
			<td class="center aligned">4.65</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=39">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=39">Brest vs. Dijon</a>
			</td>
			<td class="center aligned">2.05</td>
			<td class="center aligned">3.20</td>
			<td class="center aligned">3.55</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=46">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=46">Lyon vs. Metz</a>
			</td>
			<td class="center aligned">1.35</td>
			<td class="center aligned">4.60</td>
			<td class="center aligned">8.00</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=42">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=42">Montpellier vs. Angers</a>
			</td>
			<td class="center aligned">2.05</td>
			<td class="center aligned">3.05</td>
			<td class="center aligned">3.75</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=44">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=44">Reims vs. Nîmes</a>
			</td>
			<td class="center aligned">1.85</td>
			<td class="center aligned">3.25</td>
			<td class="center aligned">4.40</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=41">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">26/10</td>
			<td>
				<a href="./?match=41">Strasbourg vs. Nice</a>
			</td>
			<td class="center aligned">2.30</td>
			<td class="center aligned">3.10</td>
			<td class="center aligned">3.05</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=40">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">27/10</td>
			<td>
				<a href="./?match=40">Rennes vs. Toulouse</a>
			</td>
			<td class="center aligned">1.85</td>
			<td class="center aligned">3.25</td>
			<td class="center aligned">4.35</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=47">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">27/10</td>
			<td>
				<a href="./?match=47">St Etienne vs. Amiens</a>
			</td>
			<td class="center aligned">1.70</td>
			<td class="center aligned">3.35</td>
			<td class="center aligned">5.00</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=38">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
		<tr>
			<td class="one wide">27/10</td>
			<td>
				<a href="./?match=38">Paris SG vs. Marseille</a>
			</td>
			<td class="center aligned">1.18</td>
			<td class="center aligned">6.25</td>
			<td class="center aligned">12.50</td>
			<td></td>
			<td></td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned">{{ random(120,350) / 100 }}</td>
			<td class="center aligned"></td>
			<td class="center aligned">
				<a href="./?pronostic=3">
					<i class="receipt icon"></i>
				</a>
			</td>
		</tr>
	</tbody>
</table>

{% endblock %}
